* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #FFF;
  width: 100%;
  height: 200vh;
  color: black;
  display: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  overflow-y: scroll;
}

#Nav {
  left: 0;
  top: 0;
  height: 90px;
  width: 100%;
  position: fixed;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  overflow-x: hidden;
  color: white;
  background-color: #FFF;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.034), 0 0 5.2px rgba(0, 0, 0, 0.048), 0 0 6px rgba(0, 0, 0, 0.06);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.034), 0 0 5.2px rgba(0, 0, 0, 0.048), 0 0 6px rgba(0, 0, 0, 0.06);
}

#Nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 90px;
  width: 60%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#Nav ul a {
  color: #121212;
  font-style: none;
  text-decoration: none;
}

#Nav p {
  margin-left: 90px;
  text-align: left;
  -webkit-text-emphasis: 12.5px;
          text-emphasis: 12.5px;
  font-size: 20px;
  font-weight: 900;
  color: black;
  width: 40%;
}

#line {
  position: fixed;
  z-index: 9999999999;
  background: -webkit-gradient(linear, left top, right top, from(#124e96), to(#ff008e));
  background: linear-gradient(90deg, #124e96, #ff008e);
  height: 2px;
  width: 100vw;
}

#intro {
  padding-left: 90px;
  padding-right: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #FFF;
  display: relative;
  margin-top: 90px;
  width: auto;
  background: -webkit-gradient(linear, left top, right top, from(#124e96), to(#ff008e));
  background: linear-gradient(90deg, #124e96, #ff008e);
  display: relative;
}

#techStack {
  position: relative;
  margin-top: 20px;
  color: black;
  text-align: center;
}

#flexBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 101px;
}

.cardContent {
  margin-top: 45%;
  margin-bottom: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 130px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cardContent h4, .cardContent h6 {
  color: #121212;
}

.cardContent button {
  color: white;
  background: linear-gradient(140deg, #121212, #121212);
  outline: none;
  border: 0;
  bottom: 0;
  padding: 10px;
  width: 80px;
  font-weight: 900;
  margin-top: 10px;
  border-radius: 1000px;
  -webkit-box-shadow: 0 0.6vh rgba(255, 0, 255, 0.034), 0 0.8vh rgba(255, 0, 0, 0.0048), 0 1vh rgba(255, 0, 0, 0.006);
          box-shadow: 0 0.6vh rgba(255, 0, 255, 0.034), 0 0.8vh rgba(255, 0, 0, 0.0048), 0 1vh rgba(255, 0, 0, 0.006);
}

.cardContent button:hover {
  -webkit-box-shadow: 0 4px rgba(255, 255, 255, 0.034), 0 6px rgba(255, 255, 255, 0.048), 0 8px rgba(255, 255, 255, 0.06);
          box-shadow: 0 4px rgba(255, 255, 255, 0.034), 0 6px rgba(255, 255, 255, 0.048), 0 8px rgba(255, 255, 255, 0.06);
}

#aboutme {
  position: fixed;
  z-index: 9999999;
  width: 100vw;
  height: 100vh;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(rgba(22, 22, 22, 0.5)), to(rgba(22, 22, 22, 0.6)));
  background: linear-gradient(90deg, rgba(22, 22, 22, 0.5), rgba(22, 22, 22, 0.6));
}

#aboutme button {
  border: none;
  background: #121212;
  color: #FFF;
  cursor: pointer;
  border-radius: 20px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
}

#aboutme button:hover {
  border: 1px solid #121212;
  color: black;
  background: #FFF;
}

hr {
  border-bottom: 2px solid #EEEEEE;
  border-top: 0px solid #EEEEEE;
}

.sub-container {
  width: 50vw;
  height: auto;
  display: block;
  padding: 40px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
  background: #FFFFFF;
  overflow-y: hidden;
}

.sub-container-1 {
  display: block;
  height: 100%;
  background: #FFFFFF;
  text-align: justify;
  padding-right: 20px;
  overflow-y: scroll;
  font-size: 2.6vh;
  margin-bottom: 20px;
}

.close {
  height: 2vh;
  width: 2vh;
}

.card {
  margin-top: 80px;
  width: 250px;
  height: 300px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 4px 8px 4px 0 rgba(255, 255, 255, 0.009);
          box-shadow: 4px 8px 4px 0 rgba(255, 255, 255, 0.009);
  text-align: center;
  background: linear-gradient(45deg, #00FF88, #00FFDD);
  border-radius: 30px;
  text-justify: distribute;
}

.card:hover {
  background: linear-gradient(45deg, #EEE);
}

#Project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow-x: scroll;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

#Project::-webkit-scrollbar {
  display: none;
}

#Project button {
  color: white;
  background: linear-gradient(140deg, #FF00FF, #0000CC);
  background-size: 100%;
  outline: none;
  border: 0;
  text-decoration: none;
  bottom: 0;
  padding: 10px;
  width: 90px;
  font-weight: 900;
  margin-top: 10px;
  border-radius: 1000px;
  -webkit-box-shadow: 0 0.6vh rgba(255, 0, 255, 0.034), 0 0.8vh rgba(255, 0, 0, 0.0048), 0 1vh rgba(255, 0, 0, 0.006);
          box-shadow: 0 0.6vh rgba(255, 0, 255, 0.034), 0 0.8vh rgba(255, 0, 0, 0.0048), 0 1vh rgba(255, 0, 0, 0.006);
}

#Projects-1, #Projects-3 {
  position: relative;
  height: auto;
  width: 100vw;
  color: #111;
  background: #FFF;
  background-size: cover;
  padding: 90px;
  padding-top: 100px;
}

#Projects-2, #Projects-4 {
  position: relative;
  height: auto;
  color: #FFF;
  width: 100vw;
  background: #111;
  background-size: cover;
  padding: 90px;
  padding-top: 100px;
}

#projectDes {
  width: 40%;
}

@media only screen and (max-width: 800px) {
  #Nav ul {
    display: none;
  }
  #Nav p {
    margin-left: 20px;
    width: 80%;
  }
  #intro {
    padding-left: 20px;
    padding-right: 20px;
    display: relative;
  }
  #techStack {
    margin-left: 20px;
    margin-right: 20px;
  }
  .card {
    margin-left: auto;
    margin-right: auto;
  }
  #flexBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #projectDes {
    width: 100%;
  }
  #Projects-1, #Projects-2, #Projects-3, #Projects-4 {
    padding-left: 20px;
    padding-right: 20px;
    height: auto;
  }
}
/*# sourceMappingURL=layout.css.map */