*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #FFFFFF;
  width: 100vw;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 2.6vh;
}
.navbar{
  position: fixed;
  height: 100vh;
  right: 0;
  width: auto;
  display: flex;
}
.button-nav{
  height: auto;
  padding: 5px;
  margin-top: 80px;
  height: 43px;
  justify-content: center;
  border-radius: 8px 0px 0px 8px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow:
    0 1px 2px rgba(0, 0, 0, 0.044),
    0 1px 4px rgba(0, 0, 0, 0.058),
    0 1px 9px rgba(0, 0, 0, 0.086);
}
#aboutme{
  position: fixed;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg,rgba(22, 22, 22, 0.5),rgba(22, 22, 22, 0.6));
}
#aboutme button{
  border: 1px solid #121212;
  background: #121212;
  color: #FFF;
  border-radius: 20px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
}
hr{
  border-bottom: 2px solid #EEEEEE;
  border-top: 0px solid #EEEEEE;
}
.sub-container{
  width: 50vw;
  height: 90vh;
  display: block;
  padding: 40px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
  background: #FFFFFF;
  overflow-y: hidden;
}
.sub-container-1{
  display: block;
  height: 100%;
  background: #FFFFFF;
  text-align: justify;
  padding-right: 20px;
  overflow-y: scroll;
  font-size: 2.6vh;
  margin-bottom: 20px;
}
.close{
  height:2vh;
  width:2vh;
}
#aboutme H2{
  font-size: 4vh;
}
#aboutme H3{
  font-size: 2.6vh;
  font-weight: normal;
}
H1{
  font-size: 5vh;
}
H2{
  font-size: 3vh;
}
H3{
  font-size: 2.6vh;
}
#Topbar{
  background: rgba(255, 255, 255, 1);
  display: flex;
  width: 100vw;
  height: 74px;
  position: fixed;
  padding: 20px 20px 20px 20px;
  box-shadow:
    0 0px 2.2px rgba(0, 0, 0, 0.034),
    0 0px 5.3px rgba(0, 0, 0, 0.048),
    0 0px 10px rgba(0, 0, 0, 0.06);
}

#Leftbar{
  float: left;
  width: 50%;
  padding-top: 2px;
  padding-left: 3vw;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
/*Base of footer*/
#Leftbar a{
  font-size: 20px;
  color: #112121;
  text-decoration: none;
}

#Rightbar{
  float: right;
  width: 50%;
  height: auto;
  font-size: 20px;
  padding-top: 4px;
  justify-content: space-around;
  display: flex;
  font-weight: bold;
}
/*Base of Rightbar*/
#Rightbar a{
  color: #112121;
  font-size: 20px;
  text-decoration: none;
}
#Rightbar button{
  border: 0px solid #FFFFFF;
  color: #112121;
  font-weight: bold;
  font-size: 20px;
  background: #FFFFFF;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0;
}
#Rightbar a:hover{
  color: #444499;
}

#Rightbar a:active{
  color: #444499;
}
#menu{
    display: none;
    visibility: hidden;
}

#Dialog{
  visibility: visible;
}


#FirstContent{
  background: #FFFFFF;
  width: 100vw;
  min-height: 100vh;
  height: auto;
  display: flex;
  padding-left: 20px;
  padding-top: 90px;
  padding-bottom: 20px;
}

.LeftContent{
    float: left;
    width: 90%;
    height: auto;
    vertical-align: middle;
    overflow-x: auto;
    margin-top: 30px;
    background-repeat: no-repeat;
    background-size: cover;
}

.RightContent{
  float: right;
  text-align: right;
  padding-top: 40vh;
  padding-right: 40px;
}

#Education button{
  border: 1px solid #5555dd;
  border-radius: 20px;
  color: white;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
  background: #5555dd;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#Education{
  background: #FFFFFF;
  padding-top: 8%;
  color: black;
  width: 100vw;
  min-height: 100vh;
  height: auto;
  display: flex;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 50px;
  margin-bottom: -10px;
  border-radius: 20px 20px 0px 0px;
  box-shadow:
      0 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
      0 0 12.5px 10px rgba(0, 0, 0, 0.06);
}

.school{
  padding-top: 35px;
}

/*Base class of school*/
.school H1,H2,H3,H4,H5,H6{
  margin: 0;
  padding: 0;
}

#Experience{
  background: #FFFFFF;
  padding-top: 8%;
  color: Black;
  width: 100vw;
  min-height: 100vh;
  height: auto;
  padding-bottom: 20px;
  z-index: 4;
  display: flex;
  padding-left: 35px;
  padding-right: 35px;
  margin-bottom: -10px;
  border-radius: 20px 20px 0px 0px;
  box-shadow:
      0 0 2.8px 2.2px rgba(0, 0, 0, 0.044),
      0 0 6.7px 5.3px rgba(0, 0, 0, 0.068),
      0 0 12.5px 10px rgba(0, 0, 0, 0.086);
}

#Project{
  background: #FFFFFF;
  padding-top: 8%;
  color: black;
  width: 100vw;
  min-height: 100vh;
  height: auto;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 20px;
  margin-bottom: -10px;
  display:flex;
  border-radius: 20px 20px 0px 0px;
  box-shadow:
      0 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
      0 0 12.5px 10px rgba(0, 0, 0, 0.06);
}

#leftcontent{
  float: left;
  width:50%;
}
#rightcontent{
  float: right;
  width:50%;
  position: static;
  padding-left: 20px;
  padding-top: 1vh;
  vertical-align: middle;
  height: 100%;
  justify-content: center;
}

/*Base "a" of project*/
#Project a{
  text-decoration: none;
  color: #121212;
}

#Contact {
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  border-radius: 20px 20px 0px 0px;
  background-color: #FFFFFF;
  box-shadow:
      0 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
      0 0 12.5px 10px rgba(0, 0, 0, 0.06);
}
#Contact a{
  text-decoration: none;
  color: #121212;
}

#footer{
  font-family: 'Open Sans', sans-serif;
  background: #111111;
  color: white;
  width: 100vw;
  height: auto;
  text-align: center;
  position: absolute;
  padding: 10px;
  padding-bottom: 10px;
}

/*Base of footer*/
#footer a{
  text-decoration: none;
}

@media only screen and (max-width: 720px) {
  #Leftbar{
    width: 92%;
  }
  #FirstContent{
    display:list-item;
    width: 100%;
  }
  .LeftContent{
    width:auto;
    height: 60%;
  }
  .RightContent{
    bottom: 0;
    padding-top: 10vh;
    padding-bottom: 30vh;
  }
  #Rightbar{
    width:0%;
    visibility: hidden;
  }
  #menu{
    display: flex;
    visibility: visible;
  }
  #footer{
    height: auto;
  }
  body {
    width: 100%;
  }
}
@media only screen and (max-width: 900px) {
  .navbar{
    position: fixed;
    height: 100vh;
    right: 0;
    width: auto;
    display: flex;
    align-items: center;
  }
  .button-nav{
    padding: 5px;
    height: auto;
    width : 40px;
    flex-direction: column;
  }
  .sub-container{
    width: 90vw;
    height: 90vh;
  }
  #FirstContent{
    padding-top: 74px;
    display:static;
    width: 100%;
  }
  .LeftContent{
    width:auto;
    height: 60%;
  }
  .RightContent{
    bottom: 0;
    padding-top: 20vh;
    padding-bottom: 20vh;
  }
  #Project{
    padding-top: 74px;
    display: block;
  }
  #Experience{
    padding-top: 74px;
    display: block;
  }
  #Education{
    padding-top: 74px;
    display: block;
  }
  #rightcontent{
    float:inherit;
    position: static;
    width:100%;
    align-items: center;
    justify-content: center;
  }
  #leftcontent{
    width:100%;
    justify-content: center;
    text-align: center;
  }
}
