*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #121212;
  width: 100vw;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
}

#Topbar{
  background: rgba(255, 255, 255, 1);
  display: flex;
  width: 100vw;
  position: fixed;
  padding: 20px 20px 20px 20px;
/*  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06);*/
}

#Leftbar{
  float: left;
  width: 50%;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
/*Base of footer*/
#Leftbar a{
  color: #112121;
  text-decoration: none;
}

#Rightbar{
  float: right;
  width: 60%;
  height: inherit;
  justify-content: space-around;
  display: flex;
  font-weight: bold;
}
/*Base of Rightbar*/
#Rightbar a{
  color: #112121;
  text-decoration: none;
}

#menu{
    visibility: hidden;
}

#Dialog{
  visibility: visible;
}


#FirstContent{
  background: #FFFFFF;
  width: 100vw;
  padding-left: 20px;
  height: 100vh;
  display: flex;
  padding-top: 90px;
  padding-bottom: 20px;
  z-index: 1;
  box-shadow:
      0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048),
      0 12.5px 10px rgba(0, 0, 0, 0.06);
}

.LeftContent{
    float: left;
    width: 90%;
    height: auto;
    vertical-align: middle;
    overflow-x: auto;
    margin-top: 30px;
    background-repeat: no-repeat;
    background-size: cover;
}

.RightContent{
  float: right;
  text-align: right;
  padding-top: 40vh;
  padding-right: 40px;
}


#Education{
  background: #FFFFFF;
  padding-top: 8%;
  color: black;
  width: 100vw;
  min-height: 100vh;
  height: auto;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 20px;
  box-shadow:
      0 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
      0 0 12.5px 10px rgba(0, 0, 0, 0.06);
}

.school{
  padding-top: 35px;
}

/*Base class of school*/
.school H1,H2,H3,H4,H5,H6{
  margin: 0;
  padding: 0;
}

#Experience{
  background: #FFFFFF;
  padding-top: 8%;
  color: Black;
  width: 100vw;
  min-height: 100vh;
  height: auto;
  padding-bottom: 20px;
  z-index: 4;
  padding-left: 35px;
  padding-right: 35px;
  box-shadow:
      0 0 2.8px 2.2px rgba(0, 0, 0, 0.044),
      0 0 6.7px 5.3px rgba(0, 0, 0, 0.068),
      0 0 12.5px 10px rgba(0, 0, 0, 0.086);
}

#Project{
  background: #FFFFFF;
  padding-top: 8%;
  color: black;
  width: 100vw;
  min-height: 100vh;
  height: auto;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 20px;
  box-shadow:
      0 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
      0 0 12.5px 10px rgba(0, 0, 0, 0.06);
}
/*Base "a" of project*/
#Project a{
  text-decoration: none;
  color: #121212;
}

#Contact {
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: #FFFFFF;
  box-shadow:
      0 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
      0 0 12.5px 10px rgba(0, 0, 0, 0.06);
}
#Contact a{
  text-decoration: none;
  color: #121212;
}

#footer{
  font-family: 'Open Sans', sans-serif;
  background: #111111;
  color: white;
  width: 100vw;
  height: auto;
  text-align: center;
  position: relative;
  display: absolute;
  padding: 10px;
  bottom: -1;
}

/*Base of footer*/
#footer a{
  text-decoration: none;
}

@media only screen and (max-width: 720px) {
  #Leftbar{
    width: 92%;
  }
  #FirstContent{
    display:list-item;
    width: 100%;
  }
  .LeftContent{
    width:auto;
    height: 60%;
  }
  .RightContent{
    padding-top: 0;
    padding-bottom: 20vh;
  }
  #Rightbar{
    width:0%;
    visibility: hidden;
  }
  #menu{
    visibility: visible;
  }
  #footer{
    height: 50px;
  }
  body {
    width: 100%;
  }
}
