body{
  background-color: #DDDDDD;
}
.header{
    box-sizing: border-box;
    max-width: 100vh;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif !important;
    color: var(--black-700);
    font-size: 12px;
    background-color: var(--white);
    box-shadow: var(--bs-sm);
    z-index: 999;
    background-color: #FFFFFF;
    box-shadow:
0 2.8px 2.2px rgba(0, 0, 0, 0.034),
0 6.7px 5.3px rgba(0, 0, 0, 0.048),
0 12.5px 10px rgba(0, 0, 0, 0.06);
  border-radius:0px 0px 5px 5px;
  width: 100%;
  height: 33px;
  position: fixed;
}
